@use "../../index.scss" as *;


aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: clamp(0.5rem, -3.23778rem + 30.738vw, 10rem);
  @media (max-width: 770px) {
    display: none;
  }
  .spirit-bomb {
    border-radius: 50%;
  }
  
  
  
  .outer {
    width: 12px;
    height: 12px;
    background-color: transparent;
    display: grid;
    place-items: center;
    position: fixed;
    top: 8rem;
    
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    animation: float 0.9s ease-in-out infinite;
    .middle {
       width: 12px;
         height: 12px;
        filter: blur(1rem);
        background-color: #00bfff;
        display: grid;
        place-items: center;
        position: fixed;
        transition: all 0.3s ease-in-out;
      .inner {
         width: 6px;
         height: 6px;
        filter: blur(0.2rem);
        background-color: white;
        position: fixed;
        transition: all 0.3s ease-in-out;
      }
    } 
  }

  img {
    margin-top: 25px;
    position: fixed;
    top: 48vh;
    transform: scale(0.8);
  }
}

@keyframes float {
  0% {
    transform: translateY(-10px);
  } 
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}