@use "./index.scss" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $gray;
}

#root {
  display: grid;
  grid-template-columns: 1fr 5fr;
  main {
    grid-column: 1 / 3;
    @media (min-width: 770px) {
      grid-column: 2 / 3;
    }
  }
}