@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: "DBZ";
  src: url("./assets/fonts/Saiyan-Sans.ttf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans", "Montserrat", sans-serif;
}

$gray: #212121;
$gray-medium: #2a2929;
$gray-light: #2f2f2f;
$yellow: #F3E603;
$red: #df0412;
$box-shadow: rgba(4, 4, 4, 0.4) 0px 0px 30px;
$font-color: #cbcbcb;
$content-padding: 15px clamp(0.5rem, -3.23778rem + 15.738vw, 6rem);

$font-sizes: (
  h1: 2.3rem,
  h2: 1.8rem,
  h3: 1.5rem,
  legend: 1.5rem,
  label: 1.3rem,
  p: 1.2rem,
  a: 1.2rem,
  input: 1.2rem,
  textarea: 1.2rem,
  button: 1.2rem,
);

@each $key, $font-size in $font-sizes {
  #{$key} {
    font-size: $font-size ;
  }
}